* {
    box-sizing: border-box;
}
body {
    margin: 0 10px;
}

.red-1, .green-2, .blue-3, .violet-4 {
    border: 1px solid;
    min-height: 100px;
    width: 100%;
}

.row {
    width: 100%;
    margin: 0 -10px;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

.col {
    padding: 0 10px;
    width: 50%;
    float: left;
    margin-top: 10px;
}

.red-1 {
    background: red;
}

.green-2 {
    background: green;
}

.blue-3 {
    background: blue;
}

.violet-4 {
    background: violet;
}

@media (max-width: 992px) {
    .col.red {
        width: 50%;
    }
    .col.green {
        width: 25%;
    }
    .col.blue {
        width: 33.3333%;
    }
    .col.violet {
        width: 11.1111%;
    }
}

@media (max-width: 768px) {
    .col.red {
        width: 100%;
    }
    .col.green {
        width: 50%;
    }
    .col.blue {
        width: 100%;
    }
    .col.violet {
        width: 33.3333%;
    }
}